.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #FFFFFF;
}

.footer__link:hover {
  opacity: .8;
  transition: opacity .3s ease-in-out;
}
