.intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  padding-bottom: 34px;
}

@media(min-width: 768px) {
  .intro__text {
    font-size: 16px;
    line-height: 1.63;
  }
}
